body {
    --lightmodecolor: #212121;
    --darkmodecolor: #ffffff;
    --lightmodebackground: #ffffff;
    --darkmodebackground: #212121;
    font-family: Tahoma, Verdana, sans-serif;
    
}

.quote {
    text-size: 12px;
    text-align: center;
}

.center {
    text-align: center;
}