body {
    --lightmodecolor: #212121;
    --darkmodecolor: #fff;
    --lightmodebackground: #fff;
    --darkmodebackground: #212121;
    font-family: Tahoma, Verdana, sans-serif;
    
}

h1 {
    text-align: center;
}

.quote {
    text-align: center;
}

.center {
    text-align: center;
}

.developer-index {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}