body {
    --lightmodecolor: #212121;
    --darkmodecolor: #fff;
    --lightmodebackground: #fff;
    --darkmodebackground: #212121;
    font-family: Tahoma, Verdana, sans-serif;
    color: #ffffff;
    background-color: #212121;
    
}

h1 {
    text-align: center;
}

.quote {
    text-align: center;
}

.center {
    text-align: center;
}

header {
    font-family: 'Cousine';
    font-size: 22px;    
    color: #fff;
    display: flex, inline;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    flex-direction:column;
    align-items:center
     
}

.nav-item {
    background-color: #212121;
    border: 4px solid #fff;
    border: 5px solid #eee;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    z-index: 2;
    padding: 3.7px 5px;
    background-color: #222;
    color: #eee !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

a:link {
    color: #ccffff;
}
a:visited {
    color: #ffffcc; 
}
a:hover {
    color: #66ccff;
}
a:active {
    color: #ffff99;
}
.test-fonts {
    font-family: "Raleway", sans-serif;
}