body {
    --lightmodecolor: #212121;
    --darkmodecolor: #fff;
    --lightmodebackground: #fff;
    --darkmodebackground: #212121;
    font-family: Tahoma, Verdana, sans-serif;
    color: #ffffff;
    background-color: #212121;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    text-align: center;
}

.quote {
    text-align: center;
}

.center {
    text-align: center;
}

.developer-index {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

nav {
    font-family: 'Cousine';
    font-size: 22px;    
    color: #fff;
    display: flex, inline;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    flex-direction:column;
    align-items:center
}

.nav-item {
    background-color: #212121;
    border: 4px solid #fff;
    border: 5px solid #eee;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    z-index: 2;
    padding: 8px 11px;
    background-color: #222;
    color: #eee !important;
    text-decoration: none !important;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

a:link {
    color: #ccffff;
    text-decoration: none;
}
a:visited {
    color: #ffffcc; 
    text-decoration: none;
}
a:hover {
    color: #66ccff;
    text-decoration: none;
}
a:active {
    color: #ffff99;
    text-decoration: none;
}
.test-fonts {
    font-family: "Raleway", sans-serif;
}
#about {
    padding-left: 25%;
    padding-right: 25%;
}
#about > a {
    text-decoration: none;
    transition: 5s;
}
#about > a > i {
    font-size: 30px;
    color: #fff
}
#about > a:link, #about > a:visited, #about > a:active {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
#work-1 {
    display: flex;
    flex-basis: calc(100% / 2);
}
.work-1-item {
    flex-grow: 1;
}
#work-1-descript {
    text-align: left;
}
#work-1-img {
    justify-content: flex-end;
}
#work-1-img > img {
    border: 4px solid #fff;
}
h6 {
    font-weight: 1px;
}
.work-2-item {
    flex-grow: 1;
}
#work-2-descript {
    text-align: right;
}
#work-2-img {
    justify-content: flex-start;
}
#work-2-img > img {
    border: 4px solid #fff;
}
#work-2 {
    display: flex;
    flex-basis: calc(100% / 2);
}
.break {
    border-bottom: 4px solid #fff;
    border-radius: 2px;
    padding-left: 0px;
    padding-right: 0px;
}
.disclaimer {
    color: #acacac;
    font-size: 10px;
}